<?xml version='1.0' encoding='utf-8'?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget id="io.tech.feel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Feel</name>
    <description>
        Code for Feel demo.
    </description>
    <author email="admin@sateweb.com" href="http://sateweb.com/">
        sateweb
    </author>
    <content src="index.html" />
	<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <icon src="icon.png" />
    <splash src="splash.png" />
    <splash src="splash.png" />

    <splash src="res/screen/android/ldpi.png" platform="android" qualifier="ldpi" />
    <splash src="res/screen/android/mdpi.png" platform="android" qualifier="mdpi" />
    <splash src="res/screen/android/hdpi.png" platform="android" qualifier="hdpi" />
    <splash src="res/screen/android/xhdpi.png" platform="android" qualifier="xhdpi" />

    <!-- iPhone and iPod touch -->
    <splash src="res/screen/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="res/screen/ios/Default@2x.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="res/screen/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="res/screen/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
    <splash src="res/screen/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    <splash src="res/screen/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <splash src="res/screen/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
    <splash src="res/screen/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="res/screen/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
    <splash src="res/screen/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />

    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="DisallowOverscroll" value="true" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

    <access origin="*" />

</widget>
