<?xml version='1.0' encoding='utf-8'?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget id="io.tech.feel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Feel</name>
    <description>
        Code for Feel demo.
    </description>
    <author email="admin@sateweb.com" href="http://sateweb.com/">
        sateweb
    </author>
    <content src="index.html" />
	<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-device" source="pgb"  />
    <plugin name="cordova-plugin-geolocation" source="pgb" />
    <plugin name="cordova-plugin-inappbrowser" source="pgb" />
    <plugin name="cordova-plugin-network-information" source="pgb" />
    <plugin name="cordova-plugin-vibration" source="npm"  />
    
    <plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git" source="git" />
    <plugin spec="https://github.com/katzer/cordova-plugin-background-mode.git" source="git" />

    <!--<plugin name="cordova-plugin-splashscreen" source="pgb"  />
    
<preference name="android-build-tool" value="gradle" />-->
    <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <!--<preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>-->
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
   <!--<splash src="splash.png" />-->

    <icon src="icon.png" />
    <preference name="orientation" value="portrait" />
</widget>