input{
    font-size: 16px;}
.loader-wrapepr{
    position: absolute;
    left: 45%;top:45%
}
.detail p{
    margin: 0;
}
.side-nav li:hover, .side-nav li.active{
    background-color: #fcfcfc !important;
}
.sidebg{
    background:url("../img/sidebg.jpg");
}
body{
    background:url("../img/map_img.png");
}
.margin0{
    margin: 0;
}
.padding0{
    padding: 0 !important;
}
.height80{
    height: 80px;
}
.marginL10{
    margin-left: 10px;
}
.imageHW{
    height: 73px !important;width: 73px;
}
.sidebar-text{
    width: 120px;
}
.lineheight26{
    line-height: 26px !important;
}
.marginT10{
    margin-top: 10px;
}
.flotbtn{
    top: -15px;
    right: -25px;
}
.imgfiletbtn{
    left: -30px;
}
.imgFileInput{
    opacity: 0;
    height: 30px;
    width: 30px;
    position: relative;
    left: -67px;
    z-index: 20;

}
.detail{background-color: white;}
#contentView{opacity:0.9}
.margin30{
    margin: 30px;
}

.logo
{
	width: 80px;
padding-top: 5px;
}
.msg_icon
{
	 left: 75%;
position: relative;
width: 60px;
padding: 15px;
}
.menu_icon
{
	width: 30px;
    vertical-align: middle;
}

.inlineblock{display: inline-block;}
.notificationList .notificationBlock{
    padding: 5px 10px 10px 0;
    border-bottom: 1px dotted grey;
}
.notificationList .notificationText{
    display: inline-block;
    width: Calc(100% - 100px);
}
.home_profile_img
{

    margin-top: 15px;
	background-image:url("/img/profile_bg.png");
}
.home_close_like_icon
{
	width:110px;
}
.home_search_icon
{
	width: 90px;
    margin-bottom: 5px;
}